mixin advantages(type = "telephony")
	.max-w-screen-xl.mx-auto.advantages( class={ "telephony cctv smart_house": false } class=type )
			.columns
				if type == "telephony"
					-
						let items = [
							{ icon: 'nolimit', title: 'Звонки без ограничений', content: 'Осуществляйте звонки внутри сети без ограничений на любые городские номера России' },
							{ icon: 'home_phone', title: 'Уникальные возможности', content: 'Возможность выбора номера телефона, установка переадресации вызовов, автоматический определитель номера, конференц-связь' },
							{ icon: 'money_box', title: 'Программа «Бонус»', content: 'Накапливайте бонусы в личном кабинете и обменивайте их на скидки и дополнительные услуги' },
							{ icon: 'globe', title: 'Звонки по России и за рубеж', content: 'Недорогие цены на звонки с домашнего телефона по всему миру и России' }
						]
					each item in items
						.column.is-6
							.column-container
								.icon
									img.lazy( data-src=`/img/${item.icon}.svg` )
								.content
									p.title #{item.title}
									p #{item.content}
	
				if type == "cctv" || type == "smart_house"
					-
						let items = {
							cctv: [
								{ title: "Ваша недвижимость под контролем из любой точки мира" },
								{ src: "cameras" },
								{ 
									list: [
										{ icon: "camera", content: "Наблюдайте на расстоянии через видеокамеры, чтобы не беспокоиться о безопасности имущества в доме и квартире" },
										{ icon: "magnifier", content: "Контролируйте процесс ремонтных или клининговых работ на вашей территории" },
										{ icon: "app", content: "Узнавайте о происшествиях и подозрительных движениях через автоматическое оповещение на вашем телефоне" }
									]
								},
								{ title: "Позаботьтесь о безопасности и режиме дня вашего ребенка" },
								{ 
									list: [
										{ icon: "house", content: "Убедитесь, что ваш ребёнок дома и с ним всё в порядке" },
										{ icon: "homework", content: "Проверяйте, чем занимаются ваши дети" },
										{ icon: "video", content: "Записывайте уникальные кадры для семейного архива" }
									]
								},
								{ src: "child" },
								{ title: "Наблюдайте за вашими домашними питомцами" },
								{ src: "dog" },
								{ 
									list: [
										{ icon: "eye", content: "Отследите куда делась ваша обувь, кто безобразничал в квартире, когда и как питался ваш питомец" },
										{ icon: "voice", content: "Разговаривайте со своими любимыми животными с помощью голосовой связи" },
										{ icon: "player", content: "Сохраняйте уникальные видео записи, делитесь ими с близкими через социальные сети" }
									]
								}
							],
							smart_house: [
								{ title: "Создайте безопасность вашего дома с помощью датчиков и видеокамер" },
								{ src: "camera" },
								{ 
									list: [
										{ icon: "chat", content: "Узнайте о любой чрезвычайной ситуации мгновенно при помощи уведомлений на телефоне" },
										{ icon: "sensor", content: "Обеспечьте сохранность вашего имущества, установив датчики открытия окон и дверей" },
										{ icon: "control", content: "Управляйте бытовыми приборами дистанционно со смартфона — подогрейте чайник к вашему приходу" }
									]
								},
								{ title: "Организуйте комфорт вашего дома под себя" },
								{ 
									list: [
										{ icon: "wifi", content: "Создайте в удобном формате собственные сценарии температуры и освещения дома" },
										{ icon: "house", content: "Управляйте приборами на расстоянии – выключите утюг дистанционно" },
										{ icon: "phone", content: "Контролируйте Умный дом через смартфон в приложении" }
									]
								},
								{ src: "phone" },
								{ title: "Сокращайте свои расходы с функциями Умного дома" },
								{ src: "room" },
								{ 
									list: [
										{ icon: "el", content: "Следите за потреблением электроприборов и уменьшайте расход электроэнергии" },
										{ icon: "app", content: "Регулируйте освещение приборов в зависимости от присутствия в помещении" },
										{ icon: "lamp", content: "Проверьте удаленно выключен ли свет, если забыли это сделать перед уходом" }
									]
								}
							]
						}

					each item in items[type]
						.column( class=`${item.title ? "is-12" : "is-6"}` )
							.column-container
								if item.title
									h3 #{item.title}
								else if item.src
									img.lazy( data-src=`/img/${type}/${item.src}.png` )
								else if item.list
									.list
										each list_item in item.list
											.list-item
												.icon
													img.lazy( data-src=`/img/${type}/${list_item.icon}.svg` )
												.content
													p #{list_item.content}